
   
<h1>Order Details: </h1>

<h2>@Model["order"].OrderTitle</h2>
<p>Description: @Model["order"].Description</p>
<p>Price: @Model["order"].Price</p>
<p>Date: @Model["order"].Date</p>

<h3>Vendor: @Model["vendor"].Name</h3>

<a href='/vendors/@Model["vendor"].Id'>View More Orders From This Vendor</a>
<a href='/vendors'>View All Vendors</a>
<a href='/'>Home</a>